*{
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 0;
  height: 1px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
a{
  text-decoration: none;
  color: black;
}
.search_bar{
  border: none;
  outline: none;
  width: 350px;
}
.category_btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0;
  border-radius: 20px;
  transition: all .3s ease;
}
.category_btn:hover{
  background-color: #76323f !important;
  color: white !important;
}
.category_btn:hover span{
  color: white !important;
}
.react_player{
 height: 77vh !important;
 width: 100% !important; 
}
@media screen and (min-width:0) and (max-width:600px) {
  .search_bar{
    width: 200px;
  }
  .react_player{
    height: 45vh !important;
  }
}
